@import "../../../../variables";

.inputWrap {
  position: relative;
  height: 60px;
  display: flex;
  align-items: flex-end;

  .error {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: $red;
  }
}

.form__field {
  width: 100%;
  border: 0;
  position: absolute;
  bottom: 22px;
  border-bottom: 2px solid $black;
  outline: 0;
  color: $black;
  background: transparent;
  transition: border-color 0.2s;

  &:focus {
    ~ .form__label {
      transform: scale(0.6);
      top: -5px;
    }
  }
  &:valid {
    ~ .form__label {
      transform: scale(0.6);
      top: -5px;
    }
  }

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
  }
}

.form__label {
  position: absolute;
  top: 20px;
  display: block;
  transform-origin: left;
  transition: transform 0.3s, top 0.3s;
  font-size: 1rem;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
