.root{
position: absolute;
top:0;
right:0;
border:red solid 1px;
margin: 0 auto;
height: 100%;
width: fit-content;
display: flex;
flex-direction: column;
transform: translateX(100%);
transition: transform 1s;


&.show{
    transition: transform 1s;

    transform: translateX(0%);
}
}