@import '../variables.scss';

.root{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;


img{
    // margin-left: -38px;
    // max-width: 200px;
    
    margin-right: 50px;
     margin-bottom: 50px;
     height: 70px;
     width: auto;

}
}




@include tablet {
   

}

@include mobile {

    .root{
        img{
            margin-right: 20px;
            margin-bottom: 30px;
            height: 40px;
        }

    }
   
  
}