@import '../../variables.scss';


.button{
    
    border-radius: 40px;
    border: $black solid 2px;
    color: $black;
    background-color: transparent;
    padding: 10px 30px;

    &.diabled{
       opacity: 0.3;
    }
}