@import "../../../variables.scss";

.artworkName {
  font-size: 3em;
  font-weight: 800;
  line-height: 1.2em;
  width: 100%;
  min-height: 10px;
  margin-left: 27px;
}

.dot {
  //   color: transparent;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-30px);
    border-radius: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $green;
  }

  &.dotSold {
    &::after {
      background-color: $red;
    }
  }
}
