@import "../variables.scss";

.root {
  padding-top: 100px;
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
  }

  &.full {
    min-height: 100vh;
  }
  &.medium {
    min-height: 75vh;
  }
}

@include tablet {
  .root {
    padding-top: 80px;
  }
}

@include mobile {
  .root {
    padding-top: 60px;
  }
}
