@import '../../../variables';


$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;



.root{
  position: relative;
  transition: padding-top 0.2s;
  .group{
    z-index: -10;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.active{
    
    .group{
      transition: opacity 1s;
      z-index: 0;
      opacity: 1;
    }
  }




}

.group {
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.buttons{
 
  width: 100%;
  display: flex;
}

.buyButton{
  background-color: $red;
  min-height:70px;
  color:$white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 1.4em;
  font-weight: 900;
  text-decoration: none;
  border: $red solid 2px;
  width:100%;
}
.buyButton:hover{
  background-color: $white;
  color:$red;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $black;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $black;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $black;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-color: $black;
  
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.loader{
  max-width: 100px;
}