@import "../variables.scss";

.root {
  font-weight: 800;
  @include fluid-type($min_width, $max_width, 13px, 20px);
  text-decoration: none;
  color: $black;
  cursor: none;
  pointer-events: all;

  &.default {
    font-size: 1.2rem;
  }
  &.small {
    font-size: 1rem;
  }
}

.inner {
  padding: 1.2rem 2rem;
  width: fit-content;
  border: $black solid $borderwidth;
  border-radius: 50px;
  transition: background-color 0.4s, color 0.4s;

  &.white {
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  &.lila {
    &:hover {
      background-color: $black;
      color: $lila;
    }
  }
  &.red {
    &:hover {
      background-color: $black;
      color: $red;
    }
  }
  &.allwhite {
    border: $white solid $borderwidth;
    color: $red;
    background-color: $white;
    &:hover {
      background-color: transparent;
      color: $white;
    }
  }
}

@include tablet {
  .root {
    // font-size: 0.8rem;
    &.small {
      font-size: 0.7rem;
    }
  }
  .inner {
    padding: 0.8rem 1rem;
    width: fit-content;
    border: $black solid 2px;
    border-radius: 50px;
    transition: background-color 0.4s, color 0.4s;
  }
}
