@import "../../variables.scss";

.sub {
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;

  p {
    font-size: 1.2em;
    color: $white;
    width: 30%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: none;
    white-space: nowrap;
  }
}

@include tablet {
  .sub {
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    p {
      font-size: 1em;
    }
  }
}
