@import "../variables.scss";

.root {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $lila;
}

.image {
  position: absolute;
  //   top: 0;
  width: 9vw;
  z-index: 0;
  animation-name: drive;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 1;
}

.text {
  margin-top: 100px;
  z-index: 1;
  padding: 0 7%;
}

@keyframes drive {
  0% {
    transform: translate3d(0, 100vh, 0);
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -100vh, 0);
  }
}

@include tablet {
  .image {
    width: 20vw;
  }
}

@include mobile {
  .image {
    width: 25vw;
  }
}
