@import "../variables.scss";

.sub {
  color: white;
  display: flex;
  align-items: center;

  height: 100px;

  p {
    color: $white;
    width: 50%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: none;
  }
}
.schwan {
  color: $white;
  width: 50%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: none;
  white-space: nowrap;
  margin-right: 10px;
}
.impressum {
  color: $white;
  width: 50%;
  text-decoration: none;
  cursor: none;
}

@include tablet {
  .sub {
    p {
      font-size: 1.2em;
    }
  }
}
@include mobile {
  .sub {
    height: 150px;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    .schwan {
      width: 100%;
      white-space: unset;
    }
    p {
      width: 100%;
      font-size: 1.2em;
    }
  }
}
