@import "../../../variables";

.root {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.scrollUp {
  position: fixed;
  z-index: 50;
  bottom: 20px;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: $lila;
  border-radius: 50%;
  transform: scale(0);
  transition: right 0.5s, transform 0.5s, box-shadow 1s;
  box-shadow: 0px 0px 22px -2px rgba(71, 71, 71, 0.5);
}
.scrollUpActive {
  right: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 22px -2px rgba(71, 71, 71, 0.5);
}

@include tablet {
  .root {
    width: 90%;
  }
  .scrollUp {
    width: 30px;
    height: 30px;
  }
}

@include mobile {
  .root {
    width: 100%;
  }
}
