@import '../../variables.scss';

.root{
    width:500px;
    padding: 50px 30px ;
    background-color: $lila;
height: 100%;
    overflow: auto;
}

.button{
    margin-top: 100px;
    border-radius: 40px;
    border: $black solid 2px;
    color: $black;
    background-color: transparent;
    padding: 10px 30px;

    &.diabled{
       opacity: 0.3;
    }
}