@import "../variables.scss";

.root {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right;
  margin-left: 7%;
}
.image {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 60vw;
  opacity: 0.7;
}
.text {
  z-index: 2;
}

@include tablet {
  .image {
    width: 80vw;
  }
}

@include mobile {
  .image {
    width: 90vw;
  }
}
