@import '../variables';

.root{
    display: flex;
    width: 100vw;
    background-color: $white;
    position: fixed;
    bottom: 0;
    z-index: 888888;
    padding:  10px 20px;
    transition: bottom 1s;

    img{
        margin:0;
    }

    &.clicked{
        bottom: -100%;
    }

}
.text{
    display: flex;
    align-items: center;
    width:100%;
    padding-right: 20px;
    
    p{
        font-size: 1rem;
        margin: 0;
        padding:0;
    }
}
.buttons{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    min-width: 340px;
    flex-grow: 2;
   
    svg{
        width: 60px;
        height:60px;
    }
}

@include  tablet {

  
    .buttons{
 
       
        min-width: 250px;
        svg{
            width: 40px;
            height:40px;
        }
      
    }

}

@include mobile {
    .root{
        flex-wrap: wrap;
    }
    .text{
        width: 100%;
        p{
            font-size: 0.8rem;
        }
        
    }
    .buttons{
        min-width: unset;
        padding-top: 10px;
        padding-bottom: 20px;
       margin-left: auto;
        max-width:210px;
    }
    
}


