@import "../variables.scss";

$mod_1: 1.2;
$mod_2: 1.5;
$min_width: 320px;
$max_width: 1600px;
$min-font: 30px;
$max_font: 90px;

body {
  font-family: "Montserrat", sans-serif;
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font, $max_font);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font * 0.8, $max-font * 0.8);
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font * 0.6, $max-font * 0.6);
}
h4 {
  //   font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font * 0.5, $max-font * 0.5);
}

h5 {
  //   font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font * 0.4, $max-font * 0.4);
}
h6 {
  //   font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * 1rem;
  @include fluid-type($min_width, $max_width, $min-font * 0.4, $max-font * 0.3);
}

p,
li {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $min-font * 0.5,
    $max-font * 0.34
  );
  line-height: 1.3em;
  padding-bottom: 20px;
}

.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-lila {
  color: #f5c5d9;
}
.text-red {
  color: #fa464c;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: $red;
}

.page-layout {
  transition: opacity 1s;
  opacity: 1;
}
.frida_mouse_active {
  cursor: none;
}

.snipcart-cart--opened {
  .page-layout {
    transition: opacity 1s;
    opacity: 0;
  }
  .frida_mouse_active {
    cursor: auto;
  }
}

.snipcart-item-line__container {
  border: red solid 1px;
}
